<nav class="fixed top-0 left-0 w-full bg-black px-8 z-50">
    
    <div class="flex items-center justify-between">
        
        <div class="flex items-center gap-8">
            <img src={`${import.meta.env.BASE_URL}logo.png`} class="w-16" alt="Logo Adrián Aguilar Abadía" />
        </div>
        
        <div class="hidden md:flex gap-6 text-gray-300 text-sm md:text-base lg:text-xl">
            
            <a href={import.meta.env.BASE_URL} class="hover:text-blue-600 transition">Inicio</a>
            <a href={`${import.meta.env.BASE_URL}#aboutMe`} class="hover:text-blue-600 transition">Sobre mí</a>
            <a href={`${import.meta.env.BASE_URL}#tech`} class="hover:text-blue-600 transition">Tecnologías</a>
            <a href={`${import.meta.env.BASE_URL}#projects`} class="hover:text-blue-600 transition">Proyectos</a>
            <a href={`${import.meta.env.BASE_URL}#contact`} class="hover:text-blue-600 transition">Contacto</a>
            
        </div>
        
        
        <button id="navBtn" class="md:hidden text-gray-300 text-2xl">
            ☰
        </button>
        
    </div>
        
    <div id="mobileMenu" class="flex flex-col bg-black text-gray-300 text-center md:hidden">
        
        <a href={import.meta.env.BASE_URL} class="hover:text-blue-600 transition border-b border-gray-700">Inicio</a>
        <a href={`${import.meta.env.BASE_URL}#aboutMe`} class="hover:text-blue-600 transition border-b border-gray-700">Sobre mí</a>
        <a href={`${import.meta.env.BASE_URL}#tech`} class="hover:text-blue-600 transition border-b border-gray-700">Tecnologías</a>
        <a href={`${import.meta.env.BASE_URL}#projects`} class="hover:text-blue-600 transition border-b border-gray-700">Proyectos</a>
        <a href={`${import.meta.env.BASE_URL}#contact`} class="hover:text-blue-600 transition">Contacto</a>
        
    </div>
        
</nav>